@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;900&display=swap');


// Globals

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #ebebeb;
}

header, section, footer{
    width: 100%;
    // max-width: 1600px;
    margin: 0 auto;
}

// Layouts
#toggle-nav:checked ~ header .container nav{
    right: 0;
}
header{
    height: 4rem;
    background-color: rgba($color: #000000, $alpha: .5);
    position: fixed;
    top: 0;
    z-index: 1000;

    .container{
        padding: 0 5rem;
        align-items: center;
        color: white;
        justify-content: space-between;

        .search-box{
            background-color: white;
            width: 25rem;
            height: 1.8rem;
            justify-content: space-between;
            border-radius: 5px;
            justify-self: flex-end;
            padding: .1rem;
            


            input{
                padding-left: 1rem;
                border: none;
                outline: none;
                width: 22.5rem;
                height: 100%;
                background-color: transparent;
            }

            button{
                border-radius: 0 5px 5px 0  ;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                width: 30px;
                transition: .3s ease;
            }

            button:hover,
            button:focus{
                background-color: black;
                color:white;
            }
        }
        nav{
            gap: 2rem;
            align-items: center;
            ul{
                gap: .2rem;
                li{
                    
                    a{
                        padding: .2rem 1rem;
                        border-radius: 5px;
                        color: white;
                        border: none;

                        &:hover,
                        &:focus{
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
            i{
                display: none;
            }

            .login{
                display: inline;
                padding: .2rem 2rem;
                border: 1px solid white;
                font-weight: 500;
                color: white;
                border-radius: 5px;
                outline: none;
                transition: .3s ease;
                background-color: black;
                font-size: 1rem;
                font-weight: bold;

                &:hover,
                &:focus{
                background-color: white;
                color: black;
                }
            }

            
        }
    }
}

.banner{
    height: 500px;
    .container{
        background-image: url("../assets/banner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
}

.categories{
    // position: relative;
    // top: -100px;
    min-height: 500px;

    .container{
        height: 100%;
        justify-content: center;
        background-color: white;
        padding: 2rem 0 5rem;
        // position: relative;
        // top: -100px;

        .cardsContainer{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            
            .card{
                width: 350px;
                min-width: 320px;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: rgba($color: #000000, $alpha: .5);
                background-blend-mode: darken;
                box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .5);
                cursor: pointer;

                h2{
                    color: white;
                    font-size: 2.5rem;
                    font-weight: 600;
                    text-transform: uppercase
                }
            }


            // .card:first{
            //     background-image: url("../assets/banner.jpg");
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: cover;
            // }
        }

        .cardsContainer .card:first-child{
            background-image: url("../assets/stuff.jpg");
        }
        .cardsContainer .foodstuff{
            background-image: url("../assets/foodstuff.jpg");
        }
        .cardsContainer .fruits{
            background-image: url("../assets/fruits.jpg");
        }
        .cardsContainer .accessories{
            background-image: url("../assets/accessories.jpg");
        }
        .cardsContainer .shoes{
            background-image: url("../assets/shoes.jpg");
        }
        .cardsContainer .books{
            background-image: url("../assets/books.jpg");

            h2{
                font-size: 1.5rem;
            }
        }
        .cardsContainer .electronics{
            background-image: url("../assets/electronics.jpg");
        }
        .cardsContainer .fashion{
            background-image: url("../assets/fashion.jpg");
        }
        .cardsContainer .drinks{
            background-image: url("../assets/drinks.jpg");
        }
    } 
}

.products{
    margin-top: 4rem;
    .container{
        height: 100%;
        // background-color: yellow;

        ul{
            margin: 2rem 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;

            .productContainer{
                width: 320px;
                height: 120px;
                background-color: white;
                box-shadow: 2px 2px 5px black;
                display: flex;
                border-radius: 25px;
                justify-content: space-between;
                align-items: center;
                
                .product-image{
                    width: 80px;
                    height: 80px;
                    background-color: blue;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }

                .product-info{
                    position: relative;
                    width: 70%;
                    height: 70%;
                    // background-color: blueviolet;

                    p{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        font-size: 1.7rem;
                        font-weight: 500;
                    }

                    a{
                        cursor: pointer;
                        color: rgb(0, 102, 255);

                        &:hover{
                            color: #5e5d5d;
                        }
                        i{
                            position: absolute;
                            top: 0;
                            right: 0;
                            
                        }
                    }

                    
                }
            }
        }
    }
}

@media (max-width: 480px) {
    header{
        height: 5rem;
        .container{
            flex-direction: column;
            justify-content: space-around;
            padding: 0 1rem;

            h1{
                font-size: 1.3rem;
                align-self: flex-start;
            }

            .search-box{
                width: 100%;
                
                input{
                    width: 90%;
                }

                button{
                    width: 20px;
                }
            }

            nav{
                position: fixed;
                top: 0;
                bottom: 0;
                width: 80%;
                right: -80%;
                background-color: rgba($color: #000000, $alpha: .7);
                transition: .5s ease;
                gap: .5rem;

                ul{
                    align-self: flex-start;
                    flex-direction: column;
                    padding: 3rem 1rem;
                }
                .menu{
                    display: block;
                    position: fixed;
                    top: .6rem;
                    right: 1rem;
                    cursor: pointer;
                }

                .login{
                    position: fixed;
                    top: .5rem;
                    right: 2.5rem;
                    cursor: pointer;
                    font-size: .8rem;
                    font-weight: bold;
                    padding: .1rem .8rem;
                }
            }
            
        }
        
    }
    
}